.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 320px;
  width: 100%;
  background-color: #fff;
}

.header__auth-link-container {
  margin: 0;
  padding: 24px 14px 24px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  column-gap: 14px;
}

.header__auth-link {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s;
}

.header__auth-link:hover {
  opacity: 0.85;
}

.header__signin-button {
  margin: 0;
  padding: 0;
  width: 54px;
  height: 26px;
  border: none;
  border-radius: 3px;
  background: #2be080;
  cursor: pointer;
  transition: opacity 0.3s;
}

.header__signin-button:hover {
  opacity: 0.85;
}

.header__logo {
  margin: 18px 0 18px 14px;
  padding: 0;
  max-width: 38px;
  width: 100%;
  height: 38px;
  background: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
}

.header__menu {
  margin: 15px 14px 16px 0;
  padding: 0;
  max-width: 40px;
  width: 100%;
  min-height: 43px;
  border: none;
  background: url(../../images/header-menu.svg);
  background-repeat: no-repeat;
}

.header__menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 58px 0 44px;
  width: 100%;
  min-height: 32px;
  max-height: 74px;
}

.header__films-link-container {
  display: flex;
  align-items: center;
}

.header__movies-link {
  margin: 0;
  padding: 0 16px 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s;
}

.header__movies-link:hover {
  opacity: 0.85;
}

.header__saved-movies-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s;
}

.header__saved-movies-link:hover {
  opacity: 0.85;
}

.header__account-icon {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  justify-self: flex-end;
  min-width: 120px;
  height: 74px;
  background-color: #fff;
  background: url(../../images/account-button.svg);
  background-size: contain;
  background-position: 0 12px;
  background-repeat: no-repeat;
  border: 0;
  box-shadow: none;
  z-index: 1;
  transition: opacity 0.3s linear 0s;
}

.header__profile-button:hover {
  opacity: 0.85;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header__logo {
    margin-left: 30px;
  }

  .header__auth-link-container {
    padding: 21px 30px 21px 0;
    column-gap: 30px;
  }

  .header__auth-link {
    font-size: 12px;
  }

  .header__signin-button {
    width: 76px;
    height: 32px;
  }

  .header__menu {
    margin-right: 30px;
    max-width: 44px;
    min-height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    max-height: 74px;
  }

  .header__logo {
    margin-left: 70px;
  }

  .header__auth-link-container {
    padding-right: 70px;
  }

  .header__films-link-container {
    max-height: 74px;
  }
}
